<section>
    <div class="filters">
        <div class="category">
            <ul id="category_filter">
                <li [ngClass]="{head_item_active: category_filter === 1}" (click)="change_filter_category('all', 1)">Todos os produtos</li>
                <li [ngClass]="{head_item_active: category_filter === 2}" (click)="change_filter_category('t-shirts', 2)">Camisetas</li>
                <li [ngClass]="{head_item_active: category_filter === 3}" (click)="change_filter_category('mugs', 3)">Canecas</li>
            </ul>
            <div class="order-by">
                <select name="order-by" id="order-by" (change)="orderBy($event)">
                    <option disabled selected>Organizar por</option>
                    <option value="novidades">Novidades</option>
                    <option value="maior-menor">Preço: Maior - menor</option>
                    <option value="menor-maior">Preço: Menor - maior</option>
                    <option value="mais-vendidos">Mais vendidos</option>
                </select>
            </div>
        </div>
        <div class="filter-nav">
            <ul class="sections">
                <li class="item_active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><</li>
                <li>></li>
            </ul>
        </div>
    </div>

    <main>
        <ul class="products-list">
            <li class="product-card" *ngFor="let item of products" [routerLink]="'product/'+item.id">
                <img [src]="item.image_url" alt="" style="object-fit: cover;">
                <div class="product-price">
                    <span class="product-name">{{item.name}}</span>
                    <hr style="margin-block: 8px; color: #DCE2E5;">
                    <span style="font-weight: 600; font-size: 14px;">{{price(item.price_in_cents)}}</span>
                </div>
            </li>
        </ul>
    </main>
</section>