<section>
    <div class="filters">
        <div class="category">
            <ul id="category_filter">
                <li class="head_item_active">Todos os produtos</li>
                <li>Camisetas</li>
                <li>Canecas</li>
            </ul>
            <div class="order-by">
                <p>Organizar por</p>
                <img src="../../../assets/icons/Arrow.svg" alt="">
            </div>
        </div>
        <div class="filter-nav">
            <ul class="sections">
                <li class="item_active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><</li>
                <li>></li>
            </ul>
        </div>
    </div>

    <main>
        <ul class="products-list">
            <li class="product-card">
                <img src="https://storage.googleapis.com/xesque-dev/challenge-images/caneca-06.jpg" alt="" style="object-fit: cover;">
                <div class="product-price">
                    <span class="product-name ">Caneca de cerâmica rústica</span>
                    <hr style="margin-block: 8px; color: #DCE2E5;">
                    <span style="font-weight: 600; font-size: 14px;">R$ 40,00</span>
                </div>
            </li>

            <!-- <li class="product-card">
                <img src="https://storage.googleapis.com/xesque-dev/challenge-images/camiseta-05.jpg" alt="" style="object-fit: cover;">
                <div class="product-price">
                    <span class="product-name ">Camiseta not today</span>
                    <hr style="margin-block: 8px; color: #DCE2E5;">
                    <span style="font-weight: 600; font-size: 14px;">R$ 78,00</span>
                </div>
            </li> -->
        </ul>
    </main>
</section>